beautifulsoup4==4.3.2
blinker==1.4
cssmin==0.2.0
docutils==0.13.1
ecdsa==0.11
Fabric==1.10.0
feedgenerator==1.9
Jinja2==2.9.5
lxml==3.4.0
MarkupSafe==1.0
paramiko==1.15.1
pelican==3.7.1
pycrypto==2.6.1
Pygments==2.2.0
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
Unidecode==0.4.20
webassets==0.10.1
